# Azure DevOps Pipeline for AKS Deployment

trigger:
  branches:
    include:
      - main
      - master
  paths:
    include:
      - app/*

pr:
  branches:
    include:
      - main
      - master

variables:
  - group: dockey-variables
  - name: ACR_NAME
    value: 'dockey'
  - name: AKS_RESOURCE_GROUP
    value: 'FRItest'
  - name: AKS_CLUSTER_NAME
    value: 'dockey1'
  - name: REGISTRY
    value: 'dockey.azurecr.io'
  - name: IMAGE_TAG
    value: '$(Build.BuildId)'

stages:
  - stage: Build
    displayName: 'Build and Push Docker Images'
    jobs:
      - job: BuildImages
        displayName: 'Build Application Images'
        pool:
          vmImage: 'ubuntu-latest'
        
        steps:
          - task: Maven@4
            displayName: 'Maven Build'
            inputs:
              mavenPomFile: 'app/**/pom.xml'
              goals: 'clean package'
              options: '-DskipTests'
              publishJUnitResults: false

          - task: Docker@2
            displayName: 'Build and Push comments-service'
            inputs:
              containerRegistry: 'ACR-Connection'
              repository: 'comments-service'
              command: 'buildAndPush'
              Dockerfile: 'app/comments-service/Dockerfile'
              tags: |
                $(IMAGE_TAG)
                latest

          - task: Docker@2
            displayName: 'Build and Push docs-service'
            inputs:
              containerRegistry: 'ACR-Connection'
              repository: 'docs-service'
              command: 'buildAndPush'
              Dockerfile: 'app/docs-service/Dockerfile'
              tags: |
                $(IMAGE_TAG)
                latest

          - task: Docker@2
            displayName: 'Build and Push user-service'
            inputs:
              containerRegistry: 'ACR-Connection'
              repository: 'user-service'
              command: 'buildAndPush'
              Dockerfile: 'app/user-service/Dockerfile'
              tags: |
                $(IMAGE_TAG)
                latest

  - stage: Deploy
    displayName: 'Deploy to AKS'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployToAKS
        displayName: 'Deploy to Kubernetes'
        pool:
          vmImage: 'ubuntu-latest'
        environment: 'dockey-aks'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: Kubernetes@1
                  displayName: 'Set up kubectl'
                  inputs:
                    connectionType: 'Azure Resource Manager'
                    azureSubscriptionEndpoint: 'Azure-Subscription'
                    azureResourceGroup: '$(AKS_RESOURCE_GROUP)'
                    kubernetesCluster: '$(AKS_CLUSTER_NAME)'
                    command: 'get'
                    arguments: 'nodes'

                - task: Bash@3
                  displayName: 'Install Helm'
                  inputs:
                    targetType: 'inline'
                    script: |
                      curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
                      helm version

                - task: Bash@3
                  displayName: 'Create namespace'
                  inputs:
                    targetType: 'inline'
                    script: |
                      kubectl create namespace dockey --dry-run=client -o yaml | kubectl apply -f - || true

                - task: Bash@3
                  displayName: 'Deploy with Helm'
                  inputs:
                    targetType: 'inline'
                    script: |
                      if helm list -n dockey | grep -q dockey; then
                        echo "Upgrading existing release..."
                        helm upgrade dockey ./helm/dockey \
                          -n dockey \
                          --create-namespace \
                          --set services.comments.image.tag=$(IMAGE_TAG) \
                          --set services.docs.image.tag=$(IMAGE_TAG) \
                          --set services.user.image.tag=$(IMAGE_TAG) \
                          --wait \
                          --timeout 10m
                      else
                        echo "Installing new release..."
                        helm install dockey ./helm/dockey \
                          -n dockey \
                          --create-namespace \
                          --set services.comments.image.tag=$(IMAGE_TAG) \
                          --set services.docs.image.tag=$(IMAGE_TAG) \
                          --set services.user.image.tag=$(IMAGE_TAG) \
                          --wait \
                          --timeout 10m
                      fi

                - task: Bash@3
                  displayName: 'Verify deployment'
                  inputs:
                    targetType: 'inline'
                    script: |
                      helm status dockey -n dockey
                      kubectl get pods -n dockey
                      kubectl get svc -n dockey
