{{- if eq (toString .Values.monitoring.prometheus.enabled) "true" }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-sa
  namespace: {{ include "dockey.namespace" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: prometheus-role
  namespace: {{ include "dockey.namespace" . }}
rules:
  - apiGroups: [""]
    resources: ["pods", "services", "endpoints"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: prometheus-rolebinding
  namespace: {{ include "dockey.namespace" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: prometheus-role
subjects:
  - kind: ServiceAccount
    name: prometheus-sa
    namespace: {{ include "dockey.namespace" . }}
{{- end }}